{% load static %}

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Reset Password</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>

<body class="text-center">
	<form class="form-signin" method="GET">
		<a href="{% url 'website:index' %}"><img class="mb-4" src="{% static 'img/logo-invert.png' %}" alt="" width="250" height="70"></a>
		<h1 class="h3 mb-3 font-weight-normal">Completed!</h1>
		<p>Password changed successfully.</p><br>
		<a href="{% url 'accounts:login' %}">Login</a>
	</form>
</body>

</html>